<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd 
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd 
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd ">

	<!-- 扫描带有注解的类(不包括controller,其在springmvc文件中配置) -->
	<context:component-scan
		base-package="com.znjf.app, com.tziba">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- spring上下文，便于手动获取特定bean -->
	<bean id="context" class="com.tziba.utils.SpringContext"
		lazy-init="false" />

	<!-- 服务消费者注册Hessian消息中心 -->
	<bean name="serviceCenter"
		class="com.tziba.servicediscovery.support.ServiceCenter"
		init-method="init" depends-on="zkClient">
		<constructor-arg ref="zkClient" />
		<property name="server">
			<bean name="server"
				class="com.tziba.servicediscovery.server.Server">
				<property name="enable">
					<value>true</value>
				</property>
			</bean>
		</property>
	</bean>
	
	<!-- 配置redis -->
    <bean id="redisCached" class="com.tziba.cache.redis.RedisCachedImpl">
		<property name="expireSec" value="86400" />
		<property name="connectStr" value="${redis.server}" />
	</bean>

</beans>